* {
	box-sizing: border-box;
}

html {
	font-size: 18px;
	font-family: 'Kanit', sans-serif;
	background: rgb(250, 247, 252);
}

body {
	font-size: 16px;
	padding: 16px;
	margin: 0;
	font-family: 'Kanit', sans-serif;
}

.greeting {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"header		header"
		"sidebar 	main"
		"footer 	footer";
	max-width: 640px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;                                       
}

.header {
	grid-area: header;
	padding: 16px;
	border-bottom: 1px solid #ccc;
	font-family: 'Montserrat', sans-serif;
	background: floralwhite url('https://goo.gl/yfKGK') repeat;

}

.aside {
	grid-area: sidebar;
	padding: 55px;
	height: 400px;
	width: 100%;
	border-right: 1px solid #ccc;
	background: Rgb(250, 247, 252); url('https://goo.gl/yfKGK') repeat;
}

.main {
	grid-area: main;
    padding: 16px;
    background-color: #eee;
}

.footer {
	grid-area: footer;
	padding: 16px;
	border-top: 1px solid #ccc;
	background-color: rgb(231, 210, 210)
}



 /* Clock */
  .clock{
	/* width: 200px; height: 200px; */
	border-radius: 200px;
	/* border: 15px solid #222; */
	box-shadow: 
	  9px 13px 20px rgba(0,0,0,.8),
	  0 0 4px #222,
	  0 -3px 122px #555 inset;
  background-image: -webkit-radial-gradient(center center, farthest-side circle, #ffffff 0%, #5c5c5c 100%);
  background-image: -moz-radial-gradient(center center, farthest-side circle, #ffffff 0%, #5c5c5c 100%);
  background-image: -ms-radial-gradient(center center, farthest-side circle, #ffffff 0%, #5c5c5c 100%);
  background-image: -o-radial-gradient(center center, farthest-side circle, #ffffff 0%, #5c5c5c 100%);
  background-image: radial-gradient(farthest-side circle at center center, #ffffff 0%, #5c5c5c 100%);
	position: relative;
	margin: 40px auto; }
  .clock:after{
	content: "";
	width: 12px; height: 12px;
	border-radius: 10px;
	background: lightblue;
	display: block;
	position: absolute;
	left: 92px;
	top: 97px; }
  .clock:before{
	content: "";
	width: 180px; height: 180px;
	top: 6px;
	left: 6px;
	position: absolute;
	border-radius: 180px;
	border: 4px dotted lightblue; }
  
  .clock div{
	position: absolute;
	margin-left: 96px; }
  
  .sec{
	height: 100px;
	width: 4px;
	top: 52px;
	background: none;
	box-shadow: 
	  0 -40px 0 1px lightblue,
	  0 1px 0 1px lightblue; 
  
	-webkit-animation: 60s steps(60) tick infinite; 
	-moz-animation: 60s steps(60) tick infinite; }
  
  .mns, .hrs{
	height: 35px;
	width: 5px;
	top: 85px;
	background: #962033; }
  
  .mns{
	box-shadow: 
	  0 -30px #962033,
	  0 -60px #962033,
	  1px 0 7px #777,
	  1px -28px 7px #777,
	  1px -58px 7px #777;
	
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
  
	-webkit-animation: 
	  3600s steps(60) tick infinite; 
	   -moz-animation: 
	  3600s steps(60) tick infinite; }
  
  .hrs{
	box-shadow: 
	  0 -20px #962033,
	  0 -40px #962033,
	  1px 0 3px #777,
	  1px -19px 3px #777,
	  1px -38px 3px #777;  
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	
	-webkit-animation: 
	  43200s linear tick infinite; 
	   -moz-animation: 
	  43200s linear tick infinite; }
  
  @-webkit-keyframes tick{
	to{
	  -webkit-transform: rotate(360deg);
	}
  }
  
  #-moz-keyframes tick{
	to{
	 -moz-transform: rotate(360deg);
	}
  }

  /* Calculator */
  table {
	margin: auto;
	background-color: #9dd2ea;
	width: 295px;
	height: 325px;
	text-align: center;
	border-radius: 4px;
  }
  
  #calculator {
	position: absolute;
	max-width: 60%;
	left: 58%;
	top: 10%;
  }
  
  input {
	outline: 0;
	position: relative;
	left: 5px;
	top: 5px;
	border: 0;
	color: #495069;
	background-color: #fff;
	border-radius: 4px;
	width: 60px;
	height: 50px;
	float: left;
	margin: 5px;
	font-size: 20px;
	box-shadow: 0 4px rgba(0,0,0,0.2);
  }
  
  input:hover {
	border: 0 solid #000;
	color: #495069;
	background-color: #8F5FD4;
	border-radius: 4px;
	width: 60px;
	height: 50px;
	float: left;
	margin: 5px;
	font-size: 20px;
	box-shadow: 0 4px #644294;
  }
  
  input:active {
	top: 4px;
	border: 0 solid #000;
	color: #495069;
	background-color: #8F5FD4;
	border-radius: 4px;
	width: 60px;
	height: 50px;
	float: left;
	margin: 5px;
	font-size: 20px;
	box-shadow: none;
  }
  
  #answer {
	width: 270px;
	font-size: 26px;
	text-align: center;
	background-color: #F1FAEB;
	float: left;
  }
  
  #answer:hover {
	width: 270px;
	font-size: 26px;
	text-align: center;
	background-color: #F1FAEB;
	box-shadow: 0 4px rgba(0,0,0,0.2);
  }
  
  #answer:active {
	top: 5px;
	width: 270px;
	font-size: 26px;
	text-align: center;
	background-color: #F1FAEB;
	box-shadow: 0 4px rgba(0,0,0,0.2);
  }
  
  .operator {
	background-color: #f1ff92;
	position: relative;
  }
  
  .operator:hover {
	background-color: #E7F56B;
	box-shadow: 0 4px #B7C259;
  }
  
  .operator:active {
	top: 4px;
	box-shadow: none;
  }
  
  #clear {
	float: left;
	position: relative;
	display: block;
	background-color: #ff9fa8;
	margin-bottom: 15px;
  }
  
  #clear:hover {
	float: left;
	display: block;
	background-color: #F297A0;
	margin-bottom: 15px;
	box-shadow: 0 4px #CC7F86;
  }
  
  #clear:active {
	float: left;
	top: 4px;
	display: block;
	background-color: #F297A0;
	margin-bottom: 15px;
	box-shadow: none;
  }
  
/* Calendar */
.calendar {
	grid-area: calendar;
	padding: 16px;
    /* background-color: rgb(197, 119, 119); */
}

.calendar-container {
    height: auto;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
  	grid-template-rows: auto auto auto auto auto auto auto;
	grid-template-areas:
		"monthyear  monthyear monthyear monthyear monthyear monthyear monthyear"
		"sunday monday tuesday wednesday thursday friday saturday"
        "one two three four five six seven"
        "eight nine ten eleven twelve thirteen fourteen"
        "fifteen sixteen seventeen eighteen nineteen twenty twentyone"
        "twentytwo twentythree twentyfour twentyfive twentysix twentyseven twentyeight"
        "twentynine thirty thirtyone thirtytwo thirtythree thirtyfour thirtyfive";
	max-width: auto;
	margin-left: auto;
    margin-right: auto;
}

.calendar-container > div {
    padding: 10px;
}

.monthyear {
    grid-area: monthyear;
    margin: auto;
}

.sunday {
    grid-area: sunday;
    margin: auto;
}

.monday {
    grid-area: monday;
    margin: auto;
}

.tuesday {
    grid-area: tuesday;
    margin: auto;
}

.wednesday {
    grid-area: wednesday;
    margin: auto;
}

.thursday {
    grid-area: thursday;
    margin: auto;
}

.friday {
    grid-area: friday;
    margin: auto;
}

.saturday {
    grid-area: saturday;
    margin: auto;
}

.box-one {
    grid-area: one;
    margin: auto;
}

.box-two {
    grid-area: two;
    margin: auto;
}

.box-three {
    grid-area: three;
    margin: auto;
}

.box-four {
    grid-area: four;
    margin: auto;
}

.box-five {
    grid-area: five;
    margin: auto;
}

.box-six {
    grid-area: six;
    margin: auto;
}

.box-seven {
    grid-area: seven;
    margin: auto;
}

.box-eight {
    grid-area: eight;
    margin: auto;
}

.box-nine {
    grid-area: nine;
    margin: auto;
}

.box-ten {
    grid-area: ten;
    margin: auto;
}

.box-eleven {
    grid-area: eleven;
    margin: auto;
}

.box-twelve {
    grid-area: twelve;
    margin: auto;
}

.box-thirteen {
    grid-area: thirteen;
    margin: auto;
}

.box-fourteen {
    grid-area: fourteen;
    margin: auto;
}

.box-fifteen {
    grid-area: fifteen;
    margin: auto;
}

.box-sixteen {
    grid-area: sixteen;
    margin: auto;
}

.box-seventeen {
    grid-area: seventeen;
    margin: auto;
}

.box-eighteen {
    grid-area: eighteen;
    margin: auto;
}

.box-nineteen {
    grid-area: nineteen;
    margin: auto;
}

.box-twenty {
    grid-area: twenty;
    margin: auto;
}

.box-twentyone {
    grid-area: twentyone;
    margin: auto;
}

.box-twentytwo {
    grid-area: twentytwo;
    margin: auto;
}

.box-twentythree {
    grid-area: twentythree;
    margin: auto;
}

.box-twentyfour {
    grid-area: twentyfour;
    margin: auto;
}

.box-twentyfive {
    grid-area: twentyfive;
    margin: auto;
}

.box-twentysix {
    grid-area: twentysix;
    margin: auto;
}

.box-twentyseven {
    grid-area: twentyseven;
    margin: auto;
}

.box-twentyeight {
    grid-area: twentyeight;
    margin: auto;
}

.box-twentynine {
    grid-area: twentynine;
    margin: auto;
}

.box-thirty {
    grid-area: thirty;
    margin: auto;
}

.box-thirtyone {
    grid-area: thirtyone;
    margin: auto;
}

.box-thirtytwo {
    grid-area: thirtytwo;
    margin: auto;
}

.box-thirtythree {
    grid-area: thirtythree;
    margin: auto;
}

.box-thirtyfour {
    grid-area: thirtyfour;
    margin: auto;
}

.box-thirtyfive {
    grid-area: thirtyfive;
		margin: auto;
}

@media (max-width: 575px) {
	.wrapper {
		display: flex;
		flex-direction: column;
	}
	.header {
		order: 1;
	}
	.aside {
		order: 2;
		padding-top: 0px;
		padding: 70px;
	}
	.main {
		order: 3;
		border-right: 0;
		border-top: 1px solid #ccc;
		margin-top: 200px;
	}
	.footer {
		order: 4;
		border: 1px solid #ccc;                                       
	}
	.calendar-container {
		display: grid;
		font-size: 7px;
	}
}